[defaults]
log_path = ./ansible.log
ANSIBLE_HOST_KEY_CHECKING=False

timeout= 120
forks = 20
use_persistent_connections = False
poll_interval = 1
internal_poll_interval=0.001
remote_user = ansible
retry_files_save_path = ~/.ansible/retry/retry-files
pipelining = True
display_skipped_hosts = False
system_warnings = True
deprecation_warnings = True
#error_on_undefined_vars=True
strategy = linear
display_args_to_stdout = False

roles_path    = ./roles
ANSIBLE_ROLES_PATH = ./roles
ANSIBLE_VAULT_PASSWORD_FILE = ./vault.yml
#ASK_VAULT_PASS = True

nocows=0
#sudo_user      = psiri
#ask_sudo_pass = True
#ask_pass      = True
host_key_checking = False



[persistent_connection]
#connect_timeout = 60
# This controls how long the persistent connection will remain idle before it is destroyed.
#command_timeout = 30
# This controls the amount of time to wait for response from remote device before timing out presistent connection.
#connect_retry_timeout = 30
# This contorls the retry timeout for presistent connection to connect to the local domain socket.


[ssh_connection]
retries=5
ControlPersist=600s
ssh_args = -o ControlMaster=auto -o ControlPersist=600s

# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it, -C controls compression use
# ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
# TESTING WITH -C removed 8/4/17



[colors]
#highlight = white
#verbose = blue
#warn = bright purple
#error = red
#debug = dark gray
#deprecate = purple
#skip = cyan
#unreachable = red
#ok = green
#changed = yellow
#diff_add = green
#diff_remove = red
#diff_lines = cyan




#remote_user = root
#retry_files_save_path = ~/.ansible/retry-files
#pipelining = False.  ***** TESTING PERFORMANCE IMPACT